body {
    background-color:#FAF7F0; /* #f9f1f1; rgb(24, 24, 24); rgb(34, 34, 34); */
}

.wrapper {
    display:flex; 
    flex-direction: column; 
    width: 100vw; 
    height: 100vh; 
    align-items: center; 
    justify-content: center;
}

#output {
    display: none;
}
#testDisplay {
    display: none;
}
#myCanvas {
    background-color: white; 
    display: none;
}

#sidePanel {
    width: 200px;
}

#unicodeDisplay {
    color: rgb(139, 0, 0); /* rgb(24, 24, 24); */ /* rgba(248, 240, 227, 1); */
    width: 300px; 
    height: 300px; 
    font-size: 160px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#unicodeInfo {
    color: rgb(139, 0, 0); /* rgb(24, 24, 24); */ /* rgba(248, 240, 227, 1); */
    font-size: 28px; 
    padding-top: 30px
}
  
