body {
    background-color:#FAF7F0; /* #f9f1f1; rgb(24, 24, 24); rgb(34, 34, 34); */
    margin: 0;
    padding: 0;
}

#sidePanel {
    /* border-right: 1px solid rgb(139, 0, 0); */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 0px); /* calc(100vh + 100px); */
    overflow-y: scroll;
    width: 100px;
    position: absolute;
    top: 0px; /* -100px; */
    left: 0;
}

#panelItems {
    vertical-align: top;
}

.outputWrapper {
    display:flex; 
    flex-direction: column; 
    width: 100vw; 
    height: 100vh; 
    align-items: center; 
    justify-content: center;
}

#unicodeDisplay {
    color: rgb(139, 0, 0); /* rgb(24, 24, 24); */ /* rgba(248, 240, 227, 1); */
    width: 300px; 
    height: 300px; 
    font-size: 160px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#unicodeInfo {
    color: rgb(139, 0, 0); /* rgb(24, 24, 24); */ /* rgba(248, 240, 227, 1); */
    font-size: 28px; 
    padding-top: 30px;
}
  
#output {
    display: none;
}
#testDisplay {
    display: none;
}
#myCanvas {
    background-color: white; 
    display: none;
}